[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
fastapi-cli = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "*"
jose = "*"
jwt = "*"
python-jose = "*"
pydantic-settings = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.13"
