[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
fastapi-cli = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = "*"
jose = "*"
jwt = "*"
python-jose = "*"
pydantic-settings = "*"
alembic = "*"
bcrypt = "==4.0.1"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "==0.25.0"

[requires]
python_version = "3.13"
